{% extends 'main_app/base.html' %}
{% block body_block %}
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="date" align="center">DD/MM/YYYY</h1>
            <br>
            <h1 class="colored_header" align="center">FLEET STATUS</h1>
            <br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Status</th>
                    <th scope="col">N.M</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}