{% extends 'main_app/base.html' %}
{% block body_block %}
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>

        </style>
    </head>
    <body>
    <br>
    <div class="container d-flex justify-content-center">
        <div class="jumbotron w-50 h-50 " align="center">
            <h1 id="section">Select Section</h1>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
                <g>
                    <a xlink:href="https://www.littletikes.com/item/612060/cozy-coupe-30th-anniversary-edition/1.html"
                       target="_blank">
                        <title>Sail</title>
                        <path d="M168 268l52 32-10 50 10 45h-34l-31-26 5-52z"/>
                    </a>
                </g>
                <g>
                    <a xlink:href="https://www.etsy.com/listing/566632561/faux-fur-poms-in-husky-two-sizes"
                       target="_blank">
                        <title>Engine</title>
                        <path d="M442 348l39 24 44-12 4-31.5-18-13.5-25.5 9z"/>
                    </a>
                </g>
                <g>
                    <a xlink:href="https://www.yarn.com/products/madelinetosh-home" target="_blank">
                        <title>Canons</title>
                        <path d="M277 456l159-26 6 13-75 22-90 11z"/>
                    </a>
                </g>
            </svg>
        </div>
    </div>

{% endblock %}